@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Satisfy&family=Outfit:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-title: "Montserrat", sans-serif;
  --font-script: "Satisfy", cursive;
}
